@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
padding-top: 30rem;
font-weight: 800;
color: #fff;
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(77,77,77, 0.9), 
      rgba(77,77,77, 0.9)
    ),
    /* bottom, image */
    url(images/luiz-felipe-silva-carmo-zvg6_GXfxEo-unsplash.jpg) no-repeat center center fixed;
background-size:cover !important;
}

.highcharts-container text {
    font-family: 'Montserrat', sans-serif;
}

d-title img {
  background : url(image/avatar3.jpg);
  width: 46px;
  height: 44px;
}

d-title h1 {
  background : url(image/avatar3.jpg);
  color:#F8F8FF;
  text-align: center;
  font-weight: bold;
  font-stretch: semi-condensed;
}



